$primary-color: #EE0033;
$secondary-color: #5680F9;
$bg: #fff;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$font:'Roboto', sans-serif;
$bg-language:#8D99BB;
$bg-language-hover:#5680F9;
//
$danger-color: #e74c3c;
$background-light: #f4f6f8;
$surface-color: #ffffff;
$text-dark: #2c3e50;
$border-light: #d0d0d0;
$table-hover: #f9f9f9;
