<div class="container">
  <div class="left-panel">
    <div class="illustration">
      <img src="assets/images/background-img.png" alt="background" class="illustration__img" />

      <div class="illustration__text">
        <h1>Hệ thống quản lý chat đa nền tảng</h1>
        <p>Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</p>
      </div>

      <div class="illustration__dots">
        <span class="dot active"></span> <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="language-selector">
      <img src="assets/icons/language.png" alt="global icon" class="language-selector__icon" />
      <select id="language-select">
        <option value="vi">Tiếng Việt</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="login-box">
      <div class="reset-header">
        <a routerLink="/login" class="btn-back">
          <i class="fas fa-chevron-left"></i> Quay lại
        </a>
        <span class="header-title">Quên mật khẩu</span>
      </div>

      <div class="login-box__body">
        <div class="icon-area">
          <img src="./assets/images/forgot-password.png" alt="Forgot Password Icon"
            style="height: 80px; margin-bottom: 20px;" />
        </div>

        <h2 class="login-box__title">Bạn đã quên mật khẩu?</h2>
        <p class="reset-desc">
          Đừng lo lắng, hãy nhập tài khoản hoặc email của bạn ở dưới để tìm kiếm tài khoản của bạn.
        </p>

        <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
          <div class="form-group">
            <input type="text" [(ngModel)]="email" name="email" placeholder="Nhập tài khoản/email" required
              class="standard-input" #emailInput="ngModel"
              [class.error-border]="emailInput.invalid && emailInput.touched" />
          </div>

          <button type="submit" class="btn-submit" [disabled]="forgotForm.invalid">
            Tiếp tục
          </button>
        </form>
      </div>
    </div>
  </div>
</div>