<div class="container">
    <div class="left-panel">
        <div class="illustration">
            <img src="assets/images/background-img.png" alt="background" class="img" />
            <div class="illustration-text">
                <h1>Hệ thống quản lý chat đa nền tảng</h1>
                <p>Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</p>
                <div class="dots">
                    <span class="dot active"></span>
                    <span class="dot active"></span>
                    <span class="dot active"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="right-panel">
        <div id="language-container">
            <img src="assets/icons/language.png" alt="global icon" class="icon-global" />
            <select id="language-select">
                <option value="vi">Tiếng Việt</option>
                <option value="en">Tiếng Anh</option>
            </select>
        </div>

        <div class="auth-box forgot-box">
            <div class="box-header">
                <a routerLink="/login" class="back-btn">
                    <i class="fa fa-chevron-left"></i> Quay lại
                </a>
                <h3>Quên mật khẩu</h3>
                <div class="spacer"></div>
            </div>

            <div class="box-body">
                <div class="mini-illustration">
                    <img src="./assets/images/forgot-password.png" alt="Forgot Password Icon" />
                </div>

                <h2 class="title-danger">Bạn đã quên mật khẩu?</h2>
                <p class="description">
                    Đừng lo lắng, hãy nhập tài khoản hoặc email của bạn ở dưới để tìm kiếm tài khoản của bạn.
                </p>

                <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
                    <input type="text" [(ngModel)]="email" name="email" placeholder="Nhập tài khoản/email" required
                        email />

                    <button type="submit" [disabled]="forgotForm.invalid" [class.active]="forgotForm.valid">
                        Tiếp tục
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>